    <div class="modal-header">
        <div class="modal-title" style="display: flex;">
            <span *ngIf="versionParam!.status !== 'FINAL_REVIEW'">Confirm status change for Cv {{versionParam!.itemType}} {{getLangIsoFormatted(versionParam!.language!)}} <strong>{{versionParam!.notation}}</strong> </span>
            <span *ngIf="versionParam!.status === 'FINAL_REVIEW'">Confirm publishing Cv {{versionParam!.itemType}} {{getLangIsoFormatted(versionParam!.language!)}} <strong>{{versionParam!.notation}}</strong> </span>
        </div>

        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="clear()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row-content">

            <a class="acc-header option-label col-12" href="javascript:void(0);" (click)="isCommentCollapse = !isCommentCollapse"
               [attr.aria-expanded]="isCommentCollapse" aria-controls="comment-panel">
                &nbsp;
                <fa-icon *ngIf="!isCommentCollapse" icon="caret-down"></fa-icon>
                <fa-icon *ngIf="isCommentCollapse" icon="caret-right"></fa-icon>
                <span>&nbsp;<fa-icon icon="comment"></fa-icon> Comments <span class="badge badge-info">{{comments!.length}}</span></span>
            </a>
            <div id="comment-panel" class="acc-body" [ngbCollapse]="isCommentCollapse">
                <div>
                    <div class="list-group">
                        <div *ngIf="!comments! || comments!.length === 0" class="list-group-item">
                            <p>There is no comments.</p>
                        </div>
                        <div *ngFor="let c of comments!; let i = index" class="list-group-item">
                            <jhi-comment-item [comment]="c" [versionParam]="versionParam"></jhi-comment-item>
                        </div>
                    </div>
                </div>
            </div>

            <a *ngIf="versionParam!.previousVersion" class="acc-header option-label col-12 mtop10" href="javascript:void(0);" (click)="isTextDiffCollapse = !isTextDiffCollapse"
               [attr.aria-expanded]="isTextDiffCollapse" aria-controls="text-diff-panel">
                &nbsp;
                <fa-icon *ngIf="!isTextDiffCollapse" icon="caret-down"></fa-icon>
                <fa-icon *ngIf="isTextDiffCollapse" icon="caret-right"></fa-icon>
                <span>&nbsp;<fa-icon icon="compress"></fa-icon> Compare prev version {{comparePrevVersion}} with Current version
                    <span class="badge badge-info">({{compareNoOfDifference > 1 ? compareNoOfDifference +  ' differences' : 'identical'}})</span>
                </span>
            </a>
            <div *ngIf="versionParam!.previousVersion" id="text-diff-panel" class="acc-body" [ngbCollapse]="isTextDiffCollapse">
                <div>
                    <td-ngx-text-diff
                        [left]="left"
                        [right]="right"
                        [loading]="true"
                        [showToolbar]="true"
                        [diffContent]="contentObservable$"
                        (compareResults)="onCompareResults($event)"
                    >
                    </td-ngx-text-diff>
                </div>
            </div>

            <a *ngIf="versionParam!.previousVersion" class="acc-header option-label col-12 mtop10" href="javascript:void(0);" (click)="isVocabularyChangeCollapse = !isVocabularyChangeCollapse"
               [attr.aria-expanded]="isVocabularyChangeCollapse" aria-controls="vocabularyChange-panel">
                &nbsp;
                <fa-icon *ngIf="!isVocabularyChangeCollapse" icon="caret-down"></fa-icon>
                <fa-icon *ngIf="isVocabularyChangeCollapse" icon="caret-right"></fa-icon>
                <span>&nbsp;<fa-icon icon="sticky-note"></fa-icon> Vocabulary/Codes change logs <span class="badge badge-info">{{vocabularyChanges!.length}}</span></span>
            </a>
            <div id="vocabularyChange-panel" class="acc-body" [ngbCollapse]="isVocabularyChangeCollapse">
                <div>
                    <div class="list-group">
                        <div *ngIf="!vocabularyChanges! || vocabularyChanges!.length === 0" class="list-group-item">
                            <p>There is no vocabulary/code changes log.</p>
                        </div>
                        <div *ngFor="let vc of vocabularyChanges!; let i = index" class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <span>{{vc.changeType}} - {{vc.description}}</span>
                                <small>{{vc.userName}} - {{vc.date}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <form name="cvForwardStatusForm" role="form" (ngSubmit)="forwardStatus()" novalidate [formGroup]="cvForwardStatusForm">
            <div class="row-content">
                <a class="acc-header option-label col-12 mtop10" href="javascript:void(0);">
                    <span *ngIf="versionParam!.status === 'FINAL_REVIEW'">&nbsp;<fa-icon [icon]="'archive'"></fa-icon> Manage Cv publication</span>
                    <span *ngIf="versionParam!.status !== 'FINAL_REVIEW'">&nbsp;<fa-icon [icon]="'level-up-alt'"></fa-icon> Manage Cv status</span>
                </a>
                <div class="acc-body">
                    <span *ngIf="versionParam!.status === 'DRAFT'">Are you sure to change Cv {{versionParam!.itemType}} <strong>{{versionParam!.notation}}</strong> status from DRAFT to INITIAL_REVIEW?</span>
                    <span *ngIf="versionParam!.status === 'INITIAL_REVIEW'">Are you sure to change Cv {{versionParam!.itemType}} <strong>{{versionParam!.notation}}</strong> status from INITIAL_REVIEW to FINAL_REVIEW?</span>
                    <div *ngIf="versionParam!.status === 'FINAL_REVIEW' && versionParam!.previousVersion" class="row-detail form-group mb-4">
                        <div class="label-column-input label-right">
                            <span>Version notes</span>
                        </div>
                        <div class="detail-column">
                            <quill-editor class="small-quill" [placeholder]="''" [modules]="quillSimpleModule" name="versionNotes" formControlName="versionNotes"></quill-editor>
                        </div>
                    </div>
                    <div *ngIf="versionParam!.status === 'FINAL_REVIEW' && versionParam!.previousVersion" class="row-detail form-group">
                        <div class="label-column-input label-right">
                            <span>Version changes</span>
                        </div>
                        <div class="detail-column">
                            <quill-editor class="medium-quill" [placeholder]="''" [modules]="quillSimpleModule" name="versionChanges" formControlName="versionChanges"></quill-editor>
                        </div>
                    </div>
                    <div *ngIf="versionParam!.status === 'FINAL_REVIEW'" class="row-detail form-group">
                        <div class="label-column-input label-right">
                            <span class="label-required">License</span>
                        </div>
                        <div class="detail-column">
                            <select class="form-control w-auto sk-select" id="licenseId" name="licenseId" formControlName="licenseId">
                                <option *ngFor="let licence of licences; let i = index" [value]="licence.id">{{licence.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="versionParam!.status === 'FINAL_REVIEW' && isSlForm" class="row-detail form-group">
                        <div class="label-column-input label-right">
                            <span class="label-required">Version number</span>
                        </div>
                        <div class="detail-column">
                            <input type="text" style="width:100px" class="form-control" id="field_versionNumberSl" name="versionNumberSl" formControlName="versionNumberSl"/>
                            <div *ngIf="cvForwardStatusForm.get('versionNumberSl')!.invalid && (cvForwardStatusForm.get('versionNumberSl')!.dirty || cvForwardStatusForm.get('versionNumberSl')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="cvForwardStatusForm.get('versionNumberSl')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>

                                <small class="form-text text-danger"
                                       *ngIf="cvForwardStatusForm.get('versionNumberSl')?.errors?.pattern">
                                    Version number format is [number1].[number2], with [number1] is larger than 0. Both of them must be no longer than 2 digits.
                                </small>
                            </div>
                            <small class="form-text text-danger"
                                   *ngIf="isVersionInvalid">
                                Version number is lower than {{versionParam!.number}}. Please set version number {{versionParam!.number}} or higher.
                            </small>
                        </div>
                    </div>
                    <div *ngIf="versionParam!.status === 'FINAL_REVIEW' && !isSlForm" class="row-detail form-group">
                        <div class="label-column-input label-right">
                            <span class="label-required">Version number</span>
                        </div>
                        <div class="detail-column label-column-value">
                            <span>
                                <span>{{slVersionNumber}}.</span>
                                <input type="text" style="width:60px;display:inline-block" class="form-control" id="field_versionNumberTl" name="versionNumberTl" formControlName="versionNumberTl"/>
                            </span>
                            <div *ngIf="cvForwardStatusForm.get('versionNumberTl')!.invalid && (cvForwardStatusForm.get('versionNumberTl')!.dirty || cvForwardStatusForm.get('versionNumberTl')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="cvForwardStatusForm.get('versionNumberTl')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>

                                <small class="form-text text-danger"
                                       *ngIf="cvForwardStatusForm.get('versionNumberTl')?.errors?.pattern">
                                    Please fill with a positive number no longer that 2 digits.
                                </small>
                            </div>
                            <small class="form-text text-danger"
                                   *ngIf="isVersionInvalid">
                                Version number is lower than {{versionParam!.number}}. Please set version number {{versionParam!.number}} or higher.
                            </small>
                        </div>
                    </div>
                    <div *ngIf="missingTranslations.length > 0" class="row-detail">
                        <div class="label-column-input label-right">&nbsp;</div>
                        <div class="detail-column label-column-value text-danger">
                            <span *ngIf="missingTranslations.length === 1">The following code translation is missing <strong>{{ missingTranslations.join(', ')}}</strong>. Please complete it first.</span>
                            <span *ngIf="missingTranslations.length > 1">The following code translation are missing <strong>{{ missingTranslations.join(', ')}}</strong>. Please complete them first.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Close</span>
                </button>
                <button type="submit" id="save-new-cv" [disabled]="cvForwardStatusForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;
                    <span *ngIf="versionParam!.status === 'DRAFT'">INITIAL_REVIEW</span>
                    <span *ngIf="versionParam!.status === 'INITIAL_REVIEW'">FINAL_REVIEW</span>
                    <span *ngIf="versionParam!.status === 'FINAL_REVIEW'">PUBLISH</span>
                </button>
            </div>
        </form>
    </div>
