<div class="container-inner">
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div *ngFor="let metadataValue of metadataValues; let i = index" class="row-detail form-group">
        <jhi-metadata-item [metadataField]="metadataField" [metadataValue]="metadataValue"
                           [isWriting]="metadataValue.id === undefined" [position]="(i + 1)"></jhi-metadata-item>
    </div>

    <div *jhiHasAnyAuthority="['ROLE_ADMIN']" class="w-100">
        <button type="button" ngbTooltip="Add Section" (click)="addSection()" class="btn btn-sm btn-primary-outline float-right">
            <fa-icon class="text-secondary" [icon]="'plus'"></fa-icon>
            <span> Add Section</span>
        </button>
    </div>
</div>
