<h1>This is the CESSDA Vocabulary Service version 3.2.0, released on 2023-05-09.</h1>

<p>
    The service is provided by the <a href="https://www.cessda.eu/" rel="noopener noreferrer" target="_blank">Consortium of European Social Science Data Archives</a> (CESSDA).
</p>
<p>
    The vocabulary service enables users to discover, browse, and download controlled vocabularies in a
    variety of languages. Downloading is possible in SKOS, HTML, and PDF formats in the languages selected.
</p>
<p>
    The service also contains an Editor, where authorised users create, manage, and
    translate the vocabularies. Access rights to the Editor are granted by the content management team.
</p>
<p>
    Many of the vocabularies have been created and maintained by the
    <a href="https://www.ddialliance.org/" rel="noopener noreferrer" target="_blank">DDI Alliance</a> and its
    <a href="https://ddi-alliance.atlassian.net/wiki/spaces/DDI4/pages/39911435/Controlled+Vocabularies+Working+Group" rel="noopener noreferrer" target="_blank"> Controlled Vocabularies Working Group.</a>
    The Data Documentation Initiative (DDI) is an international standard for describing data produced by
    surveys and other observational methods in the social, behavioural, economic, and health sciences.
</p>
<p>
    The non-English language versions of the vocabularies have been provided by CESSDA members and associated
    organisations in different countries. The vocabularies facilitate harmonisation of data descriptions,
    for instance, in the <a href="https://datacatalogue.cessda.eu/" rel="noopener noreferrer" target="_blank">CESSDA Data Catalogue</a>.
</p>
<p>
    As DDI vocabularies are used worldwide, organisations willing to produce and maintain a language not currently
    represented are welcome to do so. The same applies to CESSDA Topic Classification vocabulary. Any willing
    organisation is encouraged to send their contact details to the DDI Controlled Vocabularies Working Group
    or through the ‘Send feedback’ button at the bottom right of any page in the CESSDA Vocabulary Service.
</p>
<p>
    The service also provides REST APIs. The link can be found at the bottom right of the page footer.
</p>

<h2>Changes since the last major version</h2>

<ul>
    <li>CVs and terms can no longer be deleted, only deprecated.</li>
    <li>CVs now use 3-digit versioning, with the same version number applied to all language variants within a CV.</li>
</ul>

<h3>The detailed changes are as follows:</h3>

<ol>
    <li>Added code deprecation button for SL Admin role</li>
    <li>Content Editor Guide is now available online to authorised users</li>
    <li>When new codes are added to SL, they are copied to TL drafts</li>
    <li>When codes are deprecated in SL, they are removed from TL drafts</li>
    <li>Added link to CESSDA Data Catalogue in About page</li>
    <li>Pop-up warning is displayed when a code value is changed</li>
    <li >Added workflow for deprecating codes</li>
    <li>Updated copyright statement for 2023</li>
    <li>Updated About page to reflect the User facing changes in this version</li>
    <li>Updated User guide to reflect the User facing changes in this version</li>
    <li>Modified text in 'Create new SL version' pop-up</li>
    <li>Changed label of Publish CV button</li>
    <li>'Contributor SL' and 'Contributor TL' roles have been removed</li>
    <li>Deprecated codes info is now visible in TL pop-up</li>
    <li >Deprecated terms in search results are indicated by the postfix '(DEPRECATED TERM)'</li>
    <li>Deprecated terms are marked as such in CV exports (all formats)</li>
    <li>Code definitions are now visible in the details table, prior to publication</li>
    <li>The pop-up shown when transitioning a CV from draft to review status no longer contains the comparison table and change logs</li>
    <li>Modified text in deprecation pop-up</li>
    <li>CVs now use 3 digit versioning</li>
    <li>CV editing workflow now contains READY TO BE TRANSLATED and PUBLISHED statuses</li>
    <li>Updated Content Editors' guide to reflect the User facing changes in this version</li>
    <li>Some CVs had spurious 'newer version' information - fixed</li>
    <li>Missing action buttons have been restored for various Admin roles</li>
    <li>Corrected alphabetical ordering for vocabulary search results list</li>
    <li>Missing space in citation - corrected</li>
    <li>New Code definition added to the edited SL/TL window </li>
    <li>De-emphaize out-of-bundle versions</li>
    <li>Validation of SKOS export</li>
    <li>Fix duplicate language entries in SKOS exports</li>
    <li>New versioning of CV with only source language</li>
</ol>

<p>
    Detailed release notes can be found at <a href="https://github.com/cessda/cessda.cvs.two/releases" rel="noopener noreferrer" target="_blank">https://github.com/cessda/cessda.cvs.two/releases</a>.
</p>
