<div *ngFor="let concept of conceptList">
    <ul *ngIf="concept.parent === parentNotation" class="concept-tree ul-level-{{level!}}">
        <li id="code_{{concept.notation.split('.').join('')}}" [ngClass]="{'y-bgr': !concept.title}">
            <div class="concept-row" (click)="selectConcept(concept)" [ngClass]="{ 'active': concept.notation === activeConceptNotation}">
                <span class="column1 coll-mar-{{level!}}">
                    <button *ngIf="isConceptHasChildren(concept.notation,conceptList)" (click)="concept.visible = !concept.visible" class="invisible-button">
                        <fa-icon *ngIf="!concept.visible" icon="caret-down"></fa-icon>
                        <fa-icon *ngIf="concept.visible" icon="caret-right"></fa-icon>
                    </button>
                    {{concept.notation}}
                </span>
                <span *ngIf="concept.titleSl" class="columnSl2">
                    {{concept.titleSl}}
                </span>
                <span class="column2">
                    {{concept.title ? concept.title : ''}}
                </span>
                <span *ngIf="concept.titleSl" class="columnSl3">
                    {{concept.definitionSl}}
                </span>
                <span class="column3">
                    {{concept.definition ? concept.definition : ''}}
                </span>
            </div>
            <jhi-tree-editor *ngIf="isConceptHasChildren(concept.notation,conceptList)"
                      [ngClass]="{'display-none': concept.visible}"
                      [parentNotation]="concept.notation" [conceptList]="removeCurrentLevelItems(conceptList , parentNotation)" [level]="level! + 1"></jhi-tree-editor>
        </li>
    </ul>
</div>
