<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-agency-heading" jhiTranslate="cvsApp.agency.home.createOrEditLabel">Create or edit a Agency</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cvsApp.agency.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 240 }">
                        This field cannot be longer than 240 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cvsApp.agency.link" for="field_link">Link</label>
                    <input type="text" class="form-control" name="link" id="field_link"
                           formControlName="link"/>
                    <div *ngIf="editForm.get('link')!.invalid && (editForm.get('link')!.dirty || editForm.get('link')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('link')?.errors?.pattern">
                            Not a valid URL.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cvsApp.agency.description" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                              formControlName="description"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label">Agency logo</label>
                    <br/>
                    <img *ngIf="currentImage" [src]="'/content/images/agency/' + currentImage" alt="{{editForm.get('name')!.value}}" class="mh-60px"/>
                    <div *ngIf="currentFileUpload" class="progress" [hidden]="progress.percentage === 100">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                             attr.aria-valuenow="{{progress.percentage}}"
                             aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
                            {{progress.percentage}}%
                        </div>
                    </div>
                    <br/>
                    <small>JPG / GIF / PNG (maximal image size: 2 MB).</small>
                    <br/>
                    <label class="btn btn-default">
                        <input type="file" (change)="selectFile($event)"
                               accept="image/x-png,image/gif,image/jpeg"/>
                    </label>
                    <button *ngIf="currentImage" type="button"
                            class="btn pull-right btn-secondary"
                            (click)="removePicture()">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>&nbsp;<span>Remove agency image</span></button>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_licenseId">License</label>
                    <select class="form-control w-auto sk-select" id="field_licenseId" name="licenseId" formControlName="licenseId">
                        <option *ngFor="let licence of licences; let i = index" [value]="licence.id">{{licence.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cvsApp.agency.uri" for="field_uri">Uri</label>
                    <input type="text" class="form-control" name="uri" id="field_uri"
                           formControlName="uri"/>
                    <div *ngIf="editForm.get('uri')!.invalid && (editForm.get('uri')!.dirty || editForm.get('uri')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('uri')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cvsApp.agency.canonicalUri" for="field_canonicalUri">Canonical Uri</label>
                    <input type="text" class="form-control" name="canonicalUri" id="field_canonicalUri"
                           formControlName="canonicalUri"/>
                    <div *ngIf="editForm.get('canonicalUri')!.invalid && (editForm.get('canonicalUri')!.dirty || editForm.get('canonicalUri')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('canonicalUri')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
