<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agency">
            <h2><span jhiTranslate="cvsApp.agency.detail.title">Agency</span> {{ agency.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cvsApp.agency.name">Name</span></dt>
                <dd>
                    <span>{{ agency.name }}</span>
                </dd>
                <dt><span jhiTranslate="cvsApp.agency.link">Link</span></dt>
                <dd>
                    <span>{{ agency.link }}</span>
                </dd>
                <dt><span jhiTranslate="cvsApp.agency.description">Description</span></dt>
                <dd>
                    <span>{{ agency.description }}</span>
                </dd>
                <dt><span jhiTranslate="cvsApp.agency.logopath">Logopath</span></dt>
                <dd>
                    <span>{{ agency.logopath }}</span>
                </dd>
                <dt><span jhiTranslate="cvsApp.agency.license">License</span></dt>
                <dd>
                    <span>{{ agency.license }}</span>
                </dd>
                <dt><span jhiTranslate="cvsApp.agency.licenseId">License Id</span></dt>
                <dd>
                    <span>{{ agency.licenseId }}</span>
                </dd>
                <dt><span jhiTranslate="cvsApp.agency.uri">Uri</span></dt>
                <dd>
                    <span>{{ agency.uri }}</span>
                </dd>
                <dt><span jhiTranslate="cvsApp.agency.canonicalUri">Canonical Uri</span></dt>
                <dd>
                    <span>{{ agency.canonicalUri }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agency', agency.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>

            <div>Statistic</div>
            <div><pre>{{agencyStatistic | json}}</pre></div>
        </div>
    </div>
</div>
