<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript">
    var classname = document.getElementsByClassName("v-csslayout-uploadform");

    var myFunction = function() {

        var attribute = this.getAttribute("clientX");
        alert(this.clientX);

    };


    for (var i = 0; i < classname.length; i++) {
        classname[i].addEventListener('click', getCords, false);

    }

    function getCords(event){



       var myElement = document.querySelector("#helptext");
       // var myElement = document.getElementsByClassName("activehelptext");
       alert(myElement.value);
        //myElement.style.backgroundcolor = red;
      // myElement.style.top = event.clientY+"px";
       myElement.style.top = "400px";

    }

    </script>
    <!-- Matomo -->
    <script type="text/javascript">
    	var _paq = window._paq || [];
    	/* tracker methods like "setCustomDimension" should be called before "trackPageView" */ _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
    	_paq.push(["setDomains", ["*.vocabularies.cessda.eu","*.vocabularies-dev.cessda.eu"]]);
    	_paq.push(['trackPageView']); _paq.push(['enableLinkTracking']);
    		(function() {
    		var u="//analytics.cessda.eu/";
    		_paq.push(['setTrackerUrl', u+'matomo.php']);
    		_paq.push(['setSiteId', '3']); var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js';
    		s.parentNode.insertBefore(g,s);
    		})();
    </script>
    <!-- End Matomo Code -->  
  </head>
  <body>
    <div>
   <div class="divhelptext" location="title"></div>
</div>
<div>
   <div  class="divhelptext" location="lastname"></div>
   <div  class="divhelptext" location="fistname"></div>
   <div  class="divhelptext" location="institute"></div>
   <div  class="divhelptext" location="email"></div>
   <div  class="divhelptext" location="pid"></div>
</div>
<div>
   <div class="divhelptext" location="scientificDis"></div>
   <div class="divhelptext" location="keywords"></div>
   <div class="divhelptext" location="jel"></div>
   <div class="divhelptext" location="gameclassification"></div>
</div>
  </body>
</html>
