<div class="top_links">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-xs-12 col-xs-12 text-left links">
                        
                        <ul>
                            <li class="toptitle"><a href="/">Consortium of European Social Science Data Archives</a></li>
                            
                        </ul>
                    
                    </div>
                    
                    <div class="col-sm-3 text-right social hidden-xs">
                        
                        <ul>
                            <li><a href="https://www.facebook.com/Cessda-463858013634628/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/CESSDA_Data/" target="_blank"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.linkedin.com/company/9392869" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://www.instagram.com/cessda_data/" target="_blank"><i class="fa fa-instagram"></i></a></li>
							<li><a href="https://plus.google.com/112779581489694492154" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            
							
                        </ul>
                    
                    </div>
                </div>
            </div>
        </div>