<div class="row">
    <form name="searchForm" class="w-100" role="form" (keydown.enter)="$event.preventDefault()" novalidate [formGroup]="searchForm">
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <div class="alert alert-warning" *ngIf="vocabularies?.length === 0">
            <span jhiTranslate="cvsApp.vocabulary.home.notFound">No vocabularies found</span>
        </div>
        <div class="search-option-column">
            <div class="count-column">
                <div class="level-row">
                    <span class="option-label result-info">{{totalItems}} Vocabularies</span>
                </div>
            </div>
            <div class="option-column">
                <div class="level-row">
                    <div class="form-group option-size level-left">
                        <span class="option-label">Results per page </span>&nbsp;
                        <select class="form-control w-auto sk-select" name="size" id="field_size"
                                formControlName="size" (change)="refreshSearchBySize($event.target.value)">
                            <option *ngFor="let s of pagingSize" [value]="s">{{s}}</option>
                        </select>
                    </div>
                    <div class="form-group option-sort level-right">
                        <span class="option-label">Sort by </span>&nbsp;
                        <select class="form-control sk-select" name="sortBy" id="field_sort_by"
                                formControlName="sortBy" style="display:inline-block;width:165px"
                                (change)="refreshSearchBySort($event.target.value)">
                            <option value="relevance">Relevance</option>
                            <option value="code,asc">CV name (A-Z)</option>
                            <option value="code,desc">CV name (Z-A)</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-column">
            <div class="filter-column">
                <a class="acc-header option-label col-12 filter-panels-toggle" href="javascript:void(0);" (click)="toggleFilterPanelHidden()">&nbsp;
                    <fa-icon *ngIf="!isFilterCollapse" icon="caret-down"></fa-icon>
                    <fa-icon *ngIf="isFilterCollapse" icon="caret-right"></fa-icon>
                    <span>Filters</span>
                </a>
                <div class="filter-panels" #filterPanels id="filterPanels">
                    <div class="filter-panel">
                        <a class="acc-header option-label col-12" href="javascript:void(0);" (click)="isAggAgencyCollapsed = !isAggAgencyCollapsed"
                           [attr.aria-expanded]="isAggAgencyCollapsed" aria-controls="agency-filter">&nbsp;
                            <fa-icon *ngIf="!isAggAgencyCollapsed" icon="caret-down"></fa-icon>
                            <fa-icon *ngIf="isAggAgencyCollapsed" icon="caret-right"></fa-icon>
                            <span>Agency</span>
                            <fa-icon icon="question-circle" style="float:right" ngbTooltip="Agency which published the vocabularies"></fa-icon>
                        </a>
                        <div id="agency-filter" class="acc-body" [ngbCollapse]="isAggAgencyCollapsed">
                            <div class="form-group mb-0">
                                <div>
                                    <tag-input [formControlName]="'aggAgency'"
                                               [onlyFromAutocomplete]="true"
                                               [class] = "'sk-select-min'"
                                               (onAdd)="onAddAgency($event)"
                                               (onRemove)="onRemoveAgency($event)"
                                               [animationDuration]="{ enter: '0ms', leave: '0ms' }"
                                               [placeholder]="'Search agencies'"
                                               [secondaryPlaceholder]="'Search agencies'">
                                        <tag-input-dropdown
                                            [showDropdownIfEmpty]="true"
                                            [keepOpen]="false"
                                            [focusFirstElement]="true"
                                            [dynamicUpdate]="false"
                                            [autocompleteItems]="aggAgencyBucket">
                                        </tag-input-dropdown>
                                    </tag-input>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="filter-panel">
                        <a class="acc-header option-label col-12" href="javascript:void(0);" (click)="isAggLanguageCollapsed = !isAggLanguageCollapsed"
                           [attr.aria-expanded]="isAggLanguageCollapsed" aria-controls="language-filter">&nbsp;
                            <fa-icon *ngIf="!isAggLanguageCollapsed" icon="caret-down"></fa-icon>
                            <fa-icon *ngIf="isAggLanguageCollapsed" icon="caret-right"></fa-icon>
                            <span>Language</span>
                            <fa-icon icon="question-circle" style="float:right" ngbTooltip="Vocabulary languages"></fa-icon>
                        </a>
                        <div id="language-filter" class="acc-body" [ngbCollapse]="isAggLanguageCollapsed">
                            <div class="form-group mb-0">
                                <div>
                                    <tag-input [formControlName]="'aggLanguage'"
                                               [class] = "'sk-select-min'"
                                               (onAdd)="onAddLanguage($event)"
                                               (onRemove)="onRemoveLanguage($event)"
                                               [animationDuration]="{ enter: '0ms', leave: '0ms' }"
                                               [placeholder]="'Search languages'"
                                               [secondaryPlaceholder]="'Search languages'"
                                               [onlyFromAutocomplete]="true">
                                        <tag-input-dropdown
                                            [showDropdownIfEmpty]="true"
                                            [keepOpen]="false"
                                            [dynamicUpdate]="false"
                                            [focusFirstElement]="true"
                                            [autocompleteItems]="aggLanguageBucket">
                                        </tag-input-dropdown>
                                    </tag-input>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="activeAggAgency!.length !== 0 || activeAggLanguage!.length !== 0" class="filter-panel acc-header">
                        <button (click)="clearFilterAndReload()" class="btn sk-select-min sk-input-f">
                            <span class="option-label">Clear filter </span>
                        </button>
                    </div>

                </div>
            </div>
            <div class="result-column">
                <div class="table-responsive" *ngIf="vocabularies?.length > 0">
                    <div *ngFor="let vocabulary of vocabularies ;trackBy: trackNotation" class="vocab-item">
                        <div class="vocab-logo">
                            <img [src]="'/content/images/agency/' + vocabulary.agencyLogo" width="120px" alt="logo"/>
                        </div>
                        <div class="vocab-detail">
                            <div class="vocab-title">
                                <h4>
                                    <a [routerLink]="['/vocabulary', vocabulary.notation ]" [queryParams]="{lang:vocabulary.selectedLang}">
                                        <span [innerHTML]="getTitleByLang(vocabulary)"></span>
                                    </a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a [routerLink]="['/vocabulary', vocabulary.notation ]" [queryParams]="{lang:vocabulary.selectedLang}">
                                        <span>{{vocabulary.notation}}</span>
                                    </a>
                                </h4>
                            </div>
                            <div class="vocab-def">
                                <span [innerHTML]="getDefinitionByLang(vocabulary)"></span>
                            </div>
                            <div class="vocab-ver">
                                <span>Version: {{getVersionByLang(vocabulary)}}</span>
                                <a [routerLink]="['/vocabulary', vocabulary.notation ]" [queryParams]="{lang:vocabulary.selectedLang, tab:'export'}">
                                    <span>Download</span>
                                </a>
                            </div>
                            <div class="vocab-code">
                                <div *ngFor="let code of vocabulary.codes ;trackBy: trackNotation" class="vocab-code-item">
                                    <a [routerLink]="['/vocabulary', vocabulary.notation ]" [queryParams]="{lang:vocabulary.selectedLang, code:code.notation.split('.').join('')}">
                                        <span [innerHTML]="getCodeTitleByLang(code, vocabulary.selectedLang)"></span>
                                    </a>
                                    :&nbsp;&nbsp;
                                    <span [innerHTML]="getCodeDefinitionByLang(code, vocabulary.selectedLang)"></span>
                                </div>
                            </div>
                            <div class="vocab-lang">
                                <button *ngFor="let lang of sortLangByEnum(vocabulary.languagesPublished, vocabulary.sourceLanguage)"
                                        (click)="vocabulary.selectedLang = lang" class="vocab-lang-button"
                                        [ngClass]="{'active': lang === vocabulary.selectedLang, 'source-lang': lang === vocabulary.sourceLanguage}"
                                        ngbTooltip="{{getFormattedLangIso(lang, vocabulary.sourceLanguage)}}">
                                    {{lang}}
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                <div *ngIf="vocabularies?.length > 0">
<!--                    <div class="row justify-content-center">-->
<!--                        <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>-->
<!--                    </div>-->
                    <div class="row justify-content-center">
                        <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="3" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
