/* ==========================================================================
Main page styles
========================================================================== */

.search-option-column {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .count-column {
    flex: 0 0 36%;
    display: block;
    margin: 0;
    padding: 0.75rem 0 0.75rem 0.75rem;
  }

  .option-column {
    display: flex;
    margin: 0;
    padding: 0.75rem 0.75rem 0.75rem 0;
    width: 100%;
    .option-size {
      display: none;
    }
    .option-sort {
    }
  }
}

.result-info {
  line-height: 34px;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .search-option-column {
    .count-column {
      flex: 0 0 280px;
      display: block;
      padding: 0.75rem;
    }
    .option-column {
      flex-basis: 100%;
      padding: 0.75rem;
      .option-size {
        display: flex;
      }
      .option-sort {
      }
    }
  }
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
}
