# Mostly fixed
REGION=europe-west1
ZONE=europe-west1-b
PROJECT=cessda-development
NET=jenkins-net
CLIENT=cessda

# Setting IP address is an exception, used for intercluser communications within certificate renewal process
PUBLICIP="35.195.121.125"

# Edit on per product (tool/service), module/component and branch basis.
PRODUCT=cvmanager
MODULE=gui
ENVIRONMENT=dev
SUBNET=jenkins-subnet # depends on value of ENVIRONMENT
NAMESPACE=$PRODUCT-$MODULE-$ENVIRONMENT
P_DISK1=ddi # persistent disk
P_DISK2=split # persistent disk

gcloud config set project $PROJECT
gcloud config set compute/region $REGION
gcloud config set compute/zone $ZONE
