<div>
    <h2 id="page-heading">
        <span jhiTranslate="cvsApp.concept.home.title">Concepts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-concept" [routerLink]="['/concept/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="cvsApp.concept.home.createLabel">
            Create a new Concept
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'cvsApp.concept.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="concepts?.length === 0">
        <span jhiTranslate="cvsApp.concept.home.notFound">No concepts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="concepts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="uri"><span jhiTranslate="cvsApp.concept.uri">Uri</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="notation"><span jhiTranslate="cvsApp.concept.notation">Notation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="title"><span jhiTranslate="cvsApp.concept.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="definition"><span jhiTranslate="cvsApp.concept.definition">Definition</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="previousConcept"><span jhiTranslate="cvsApp.concept.previousConcept">Previous Concept</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="slConcept"><span jhiTranslate="cvsApp.concept.slConcept">Sl Concept</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="parent"><span jhiTranslate="cvsApp.concept.parent">Parent</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="position"><span jhiTranslate="cvsApp.concept.position">Position</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="versionId"><span jhiTranslate="cvsApp.concept.version">Version</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let concept of concepts ;trackBy: trackId">
                    <td><a [routerLink]="['/concept', concept.id, 'view']">{{ concept.id }}</a></td>
                    <td>{{ concept.uri }}</td>
                    <td>{{ concept.notation }}</td>
                    <td>{{ concept.title }}</td>
                    <td>{{ concept.definition }}</td>
                    <td>{{ concept.previousConcept }}</td>
                    <td>{{ concept.slConcept }}</td>
                    <td>{{ concept.parent }}</td>
                    <td>{{ concept.position }}</td>
                    <td>
                        <div *ngIf="concept.versionId">
                            <a [routerLink]="['/version', concept.versionId , 'view']" >{{ concept.versionId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/concept', concept.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/concept', concept.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(concept)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="concepts?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
