<a class="acc-header option-label col-12 mtop10" href="javascript:void(0);"
   (click)="isOpen=!isOpen"
   [attr.aria-expanded]="isOpen">
    &nbsp;
    <fa-icon *ngIf="isOpen" icon="caret-down"></fa-icon>
    <fa-icon *ngIf="!isOpen" icon="caret-right"></fa-icon>
    <span *ngIf="dataSource === 'JSON' || dataSource === 'json'">&nbsp;<fa-icon icon="compress"></fa-icon> Compare version {{langVersion1}} with previous version {{langVersion2}}</span>
    <span *ngIf="dataSource !== 'JSON' && dataSource !== 'json'">&nbsp;<fa-icon icon="compress"></fa-icon> Compare current unpublished version with previous version</span>
</a>
<div class="acc-body" [ngbCollapse]="!isOpen">
    <div>
        <td-ngx-text-diff
            [left]="''"
            [right]="''"
            [loading]="true"
            [showToolbar]="true"
            [diffContent]="contentObservable$"
        >
        </td-ngx-text-diff>
    </div>
</div>
